@using Bramble.Models.DataModels.ClassModels
@using Bramble.Models.DataModels.DBModels
@using Bramble.Framework.EnumeratedType

@model BrambleSingleEntry

<div class="main-page">

	@if (Model.Status == StatusConstants.Success)
	{

	}
	else
	{
		
	}

</div>
