@{
	ViewData["Title"] = "Home Page";
}
@model Bramble.Models.ViewModels.GenreDisplayModel
<div id="mainSection" class="main-page" style="text-align:unset;">
	<h1 style="color:lightgrey;">Home</h1>
	<div id="homeSelection">
	</div>
</div>

@section Scripts
	{
	<script src="~/Scripts/BrambleHomeScript.js" type="text/javascript"></script>
	<script src="~/Scripts/CommonScript.js" type="text/javascript"></script>

}




